<nav class="nav">
  <button id="all">Todos projetos</button>
  <button>Projetos por nome</button>
  <button>Incluir projeto</button>
  <button>Excluir projeto</button>
  <button>Alterar projeto</button>
</nav>
<header>
  <h1>{{system}}</h1>
</header>
<section>
  <ul id="projects"></ul>
</section>

<script src="/scripts/script.js"></script>