<nav class="nav">
  <button id="all">Todos projetos</button>
  <button>Projetos por nome</button>
  <button>Incluir projeto</button>
  <button>Excluir projeto</button>
  <button>Alterar projeto</button>
</nav>
<header>
  <h1>{{system}}</h1>
</header>
<section>
    <ul id="projects">
      <li id="item">{{titleProject}}</li>
      <p id="about">{{descriptionProject}}</p>
    </ul>
</section>

<script src="/scripts/script.js"></script>
<script id="entry-template" type="text/x-handlebars-template"></script>