<div class="home">
  <div>
    <h1>{{name}}</h1>
  </div>
  <div>
    <h3>Identifique-se para usar o sistema</h3>
  </div>
  <div>
    <form class="form" action="" method="POST">
      <input type="password" name="id" placeholder="Insira ID" />
      <input type="password" name="pass" placeholder="Insira sua senha" />
      <button type="submit" name="entrar">Entrar no sistema</button>
    </form>
  </div>
</div>
