<h1>{{name}}</h1>
<div>
  <div>
    <h3>Identifique-se para usar o sistema</h3>
  </div>
  <form action="" method="POST">
    <input type="password" name="id" placeholder="Insira ID" />
    <input type="password" name="pass" placeholder="Insira sua senha" />
    <input type="submit" name="entrar" value="Entrar no sistema">
  </form>
</div>
<div>
  <h3>Usar o sistema de demonstração</h3>
  <input type="submit" value="Entrar">
</div>
